/* Estilos comunes */
body {
    font-family: 'Arial', sans-serif;
}

header.jumbotron {
    background: url('ruta/a/tu/imagen-de-fondo.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

footer {
    background-color: #f8f9fa;
    color: #6c757d;
}

#about, #messages {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    margin-bottom: 30px;
}

blockquote {
    border-left: 5px solid #f8f9fa;
    padding-left: 10px;
    margin: 20px 0;
}

/* Estilos específicos para iPhone */
@media only screen and (max-device-width: 414px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-family: 'Baguet Script', cursive;
    }

    h1 {
        color: red;
    }

    h2 {
        color: red; /* Cambié el color a rojo */
    }
}

/* Estilos específicos para Android */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    @font-face {
        font-family: 'Algerian';
    }

    body {
        font-family: 'Algerian', sans-serif;
    }

    h1 {
        color: green;
    }

    h2 {
        color: pink; /* Color específico para h2 en Android */
    }
}

/* Estilos específicos para PC */
@media only screen and (min-width: 1024px) {
    body {
        font-family: 'Georgia', serif;
    }

    h1 {
        color: blue;
    }

    h2 {
        color: purple; /* Color específico para h2 en PC */
    }
}
